@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 235 25% 20%;
    --card: 210 29% 100%;
    --card-foreground: 235 25% 20%;
    --popover: 210 29% 100%;
    --popover-foreground: 235 25% 20%;
    --primary: 235 63% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 235 25% 20%;
    --muted: 210 25% 90%;
    --muted-foreground: 235 15% 45%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 30% 99%;
    --ring: 235 63% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 25% 15%;
    --foreground: 210 29% 96%;
    --card: 235 25% 20%;
    --card-foreground: 210 29% 96%;
    --popover: 235 25% 20%;
    --popover-foreground: 210 29% 96%;
    --primary: 210 40% 98%;
    --primary-foreground: 235 63% 30%;
    --secondary: 235 25% 25%;
    --secondary-foreground: 210 29% 96%;
    --muted: 235 25% 25%;
    --muted-foreground: 210 15% 65%;
    --accent: 45 100% 51%;
    --accent-foreground: 45 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 25% 25%;
    --input: 235 25% 22%;
    --ring: 45 100% 51%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
